@import url('https://fonts.googleapis.com/css?family=Poppins');
:root{
    --main-color: white;  
    --red: #df4b18;
    --gradient-main: linear-gradient(260deg, #34c868, #11856e);

    --light-c: #34c868;
    --dark-c: #11856e;

}
::-webkit-scrollbar {
    width: 2px;
    height: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 12px;
}
::-webkit-scrollbar-thumb {
    background-image: var(--gradient-main);
    border-radius: 10px;
}
body{
   
    /* background: var(main-color); */
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
    cursor: default;
    user-select: none;
    color: var(--dark-c)!important;
    margin: 0px 20px!important;
}
/* menu */
nav {
    height: 100vh;
    max-height: 100vh;
    width: 230px;
    position: fixed;
    z-index: 11;
    top: 0;
    left: -230px;
    background-image: var(--gradient-main);
    /* overflow-x: hidden; */
    transition: .3s;
}
.company{
    float: left;
    padding: 12px;
    margin-top: 20px; 
}
.user{
    margin: 20px 0px;
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--main-color);
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.close-open-btn{
    position: fixed;
    left: 0px;
    z-index: 1000;
    cursor: pointer;
    transition: .3s;
    color:white!important;
    font-size: 28px!important;
    text-shadow:
     1px 1px var(--dark-c),
     -1px 1px var(--dark-c),
     1px -1px var(--dark-c),
     -1px -1px var(--dark-c);
}
nav.open {
    left:0px;
    transition: .3s;
}
nav.closed {
    left:-230px;
    transition: .3s;
}
#icon {
    position: relative;
    transition: .3s;
}
.icon-menu{
    color:var(--dark-c);
}
nav.open #icon {
    left:190px;
}

nav.closed #icon {
    left:0px;
}
/*menu list*/
.main-nav{
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    letter-spacing: -0.5px;
    padding: 0px;
    position: relative;
    z-index: 100px;
}
.main-nav li{
    padding: 15px 20px;
    height: 50px;
    margin: 0px 5px;
    border-bottom: 1px solid var(--main-color);
}
.main-nav li a {
    color:var(--main-color);
}
.main-nav li a:hover, .main-nav li a:visited{
    text-decoration: none;
    color:var(--main-color);
}
.show{
    float: left;
    transition: .5s;
}
.show:hover{
    padding-left: 15px;
}
.add{
    float: right;
    transition: .5s;
}
.add:hover{
    transform: rotate(90deg);
}
/*main view*/
.box1{
    text-align: center;
    border-radius: 3px;
    font-size: 30px;
    height: 200px;
    transition: 1s;
    margin: 10px 0px;
    font-weight: bold!important;
    border-top: solid 2px var(--light-c);
    box-shadow: 0px 2px 23px 2px rgba(52, 200, 104, 0.3);
    background: -webkit-linear-gradient(180deg, #34c868, #11856e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container{
    padding-top: 30px!important;
}
.wrap{
    padding-bottom: 0px!important; 
}
#num-of-events, #num-of-prelegents,#num-of-rating, #num-of-comments{
    font-size: 90px;
}
#main-website img{
    margin-top:35px;
    width: 130px;
}
.box1:hover, .btn:hover{
    text-decoration: none;
    color: var(--dark-c);
    /* border-bottom:0px solid var(--dark-c)!important; */
    /* border-top:2px solid var(--dark-c); */
    box-shadow: 0px 2px 23px 2px rgba(17, 133, 110,.3);
}
/*login*/
h1, .post-index{
    text-align: center!important;

}
h1{
    font-size:40px!important;
}
.login-form .btn{
    display: block!important;
    margin: auto!important;
    outline:none!important;
    color: var(--white);
    background-image: linear-gradient(80deg, #808d8e, #a3aeaf)!important;
}
.tabelka{
    overflow-x: auto; 
    background: white!important;
}
/*add event*/
.google-maps{
    width:100%;
}
.add-event-btn{
    margin-top:20px;
    width:100%;
    margin-left:auto!important;
    margin-right:auto!important;
    /* background:red!important; */
    /* border-bottom: 2px solid var(--dark-c)!important; */
    color:var(--dark-c);
    height: 40px;
    font-size: 16px!important;
    box-shadow: 0px 2px 23px 2px rgba(17, 133, 110,.3);
}
@media screen and (min-width:1000px){
    .add-event-btn{
        width:130px;
        margin-right: calc(50%-50px)!important;
    }
}
.site-login{
    margin-top:30px;  
}
.input-group-addon{
    width:40px!important;
}
.form-control{
    position: relative;
    z-index: 10!important;
    width:100%!important;
}
.file-caption-main{
    width:100%!important;
    margin:10px 0px!important;
}
.btn-default{
    min-width:200px!important;
}
.fileinput-remove, .file-caption{
    display:none!important;
}
.file-input{
    margin: 0px 15px;
}
.control-label:nth-last-child(2){
    margin-left:15px!important;
}
input[type=checkbox]
{
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform:scale(2);
  padding: 0px!important;
}
.checkbox:first-child{
    margin-top: 0px!important;
}
.checkbox{
    padding: 5px!important;
}
/*popup*/
.popup{
    position: fixed;
    left:0;
    bottom:0px;
    width: 100vw ;
    background: green;
    color:var(--main-color)!important;
    text-align: center;
    line-height: 55px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    box-shadow: 0px 2px 32px var(--boxShadow);
    z-index: 10;
}
.alert{
    color:var(--main-color)!important;
}

.popup i{
    font-family: meetrate-icons!important;
    float: left;
    font-size: 45px;
    margin: 5px 15px;
}

.happyPrompt{
    --boxShadow: var(--green);
    background: var(--green);
}

.sadPrompt{
    --boxShadow: var(--red);
    background: var(--red);
}

.blasePrompt{
    --boxShadow: var(--orange);
    background: var(--orange);
}
.close{
    position: relative;
    left: -2vw;
}
.close:hover{
    color: white!important;
}
.alert{
    margin-bottom:0px!important;
    padding-bottom:0px!important;
    border:none!important;
} 
/* prelegent */
.ckeckbox{
    margin: 40px!important;
}
.sup ol{
    list-style-type:none;
    padding: 0px!important;
}
.sup ol li{
    padding: 15px 10px;
    margin: 10px 0px;
    font-size:18px;  
    background: rgba(0,0,0,.7); 
    color:rgba(255,255,255,.7);
}
.sup ol li:nth-child(2n){
    background: rgba(255,255,255,.7);
    color:rgba(0,0,0,.7)
}


.tabelka i{
    padding: 0!important;
    color:white;
    font-size:22px;
}
.float{
    float: left;
    padding:0!important;
    width:calc(33.3333% - 2px);
    margin:1px;
}
.float::after{
    content: "";
    clear:both;
}
justTwo{
    width:50%!important;
}

.help-block, .help-block-error p{
    color: red!important;
}
.btn-file, .input-group-append{
    min-width:100%!important;
}