@import url('https://fonts.googleapis.com/css?family=Poppins');
:root{
    --main-color: white;
    
}
body{
    background: rgb(82, 82, 82)!important;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
    cursor: default;
    user-select: none;
}
nav {
    height: 100vh;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(260deg, #34c868, #11856e);
    overflow-x: hidden;
    transition: .3s;
}
main{
    margin-left:230px;
    background-image: linear-gradient(80deg, #808d8e, #000);
    height:100vh;
    padding: 20px;
    transition: 0.3s;
}
.company{
    float: left;
    padding: 12px;
    margin-top: 10px; 
}
.user{
    margin: 20px 0px;
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--main-color);
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.close-open-btn{
    position: absolute;
    left: 200px;
    z-index: 1000;
    cursor: pointer;
    transition: .3s;
}

/* main list */
ul{
    margin:0px;
    list-style-type: none;
    font-size:16px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}
ul li{
    /* overflow: hidden; */
    padding: 10px 0px;
    border-radius: 50px;

}
ul li:hover{
    background-image: linear-gradient(260deg, #f09108, #df4b18); 
}
ul li a{
    color: var(--main-color);
    transition: .2s;
    padding: 20px;
}
ul li a:hover{
    text-decoration: none;
    color: var(--main-color);   
}
.add{
    float: right;
    padding-top: 2px;
    padding-bottom: 0px;
}
